.input {
    margin: 1rem 0;
    width: 100%;
  }
  
  .input label {
    font-size: 14px;
  font-weight: 100px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px
  }
  
  .input input,
  .input textarea {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 5px;
  }
  
  .input .touched.invalid {
      border-color: rgb(0, 238, 255);
      background: #ffc2c2;
  }
  
  .input input:focus,
  .input textarea:focus {
    outline: none;
    border-color: rgb(56, 197, 215);
    color: #003162;
  }
  